<form method="POST" action="/blogs/{{blog._id}}?_method=PUT">
  <div class="mb-3">
    <label for="name" class="form-label">Tên bài viết</label>
    <input type="text" class="form-control" value="{{blog.name}}" id="name" name="name">
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Nội dung</label>
    <input type="text" class="form-control" value="{{blog.content}}" id="content" name="content">
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Mô tả</label>
    <input type="text" class="form-control" value="{{blog.desc}}" id="desc" name="desc">
  </div>
  <div class="mb-3">
    <label for="view" class="form-label">Số view</label>
    <input type="number" class="form-control" value="{{blog.view}}" id="view" name="view">
  </div>
  <a href="/blogs" type="button" class="btn btn-secondary">Back</a>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
