<div class="container">
  <div class="heading-warpper">
    <h2>
      Danh sách bài viết đã xoá
    </h2>
    <a class="text-decoration-none" href="/me/my-blogs">Danh sách bài viết</a>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên</th>
        <th scope="col">Nội dung</th>
        <th scope="col">Mô tả</th>
        <th scope="col">Số view</th>
        <th scope="col">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      {{#each blogs}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.content}}</td>
          <td>{{this.desc}}</td>
          <td>{{this.view}}</td>
          <td>
            <a href="../blogs/{{this._id}}/edit" type="button" class="btn btn-warning btn-restore" data-id="{{this._id}}">Restore</a>
            <a href="" type="button" class="btn btn-danger" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#delete-blog-modal">Delete</a>
          </td>
        </tr>
        {{else}}
          <tr>
            <td colspan="6" class="text-center">
              Thùng rác trống
              <a class="text-decoration-none" href="/me/my-blogs">Danh sách bài viết</a>
            </td>
          </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="modal fade" id="delete-blog-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Xoá bài viết</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bạn có chắc chắn xoá không?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="btn-delete-blog" type="button" class="btn btn-danger">Xoá</button>
        </div>
      </div>
    </div>
  </div>

  <form method="POST" name="delete-blog-form"></form>
  <form method="POST" name="restore-blog-form"></form>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var blogId
    var deleteForm = document.forms['delete-blog-form']
    var restoreForm = document.forms['restore-blog-form']
    var btnDeleteBlog = document.getElementById('btn-delete-blog')
    var btnRestore = $('.btn-restore')

    $('#delete-blog-modal').on('show.bs.modal', function(event){
      var button = $(event.relatedTarget);
      blogId = button.data('id');
    });

    btnDeleteBlog.onclick = function(){
      deleteForm.action = `/blogs/${blogId}/force?_method=DELETE`;
      deleteForm.submit()
    }
    var btnRestore = $('.btn-restore')
    btnRestore.click(function(e) {
      e.preventDefault()

      var blogIdRestore = $(this).data('id')
      restoreForm.action = `/blogs/${blogIdRestore}/restore?_method=PATCH`;
      restoreForm.submit()
    })
  });
</script>
